[Unit]
Description=Xonotic Server - %I
After=network.target
PartOf=xonotic-all.target

[Service]
ExecStart=/home/xonotic/infra/scripts/start_server.sh %i
WorkingDirectory=/home/xonotic/infra/scripts
User=xonotic
Group=xonotic

[Install]
WantedBy=multi-user.target
