[Unit]
Description=Xonotic Server - %I
After=network.target
PartOf=xonotic-all.target

[Service]
ExecStartPre=/home/xonotic/infra/scripts/symlink_dl.sh
ExecStart=/home/xonotic/infra/scripts/start_server.sh %i
User=xonotic
Group=xonotic

[Install]
WantedBy=multi-user.target
